*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* background image section */
.background{
    background-image: url(/images/donation5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background: gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);;
    height: 100vh;
}
/* background text section */
.text-section{
    padding: 175px 305px;
    text-align: center;
}
 .header-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
} 

.header-description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}