*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* background image section */
.background{
    background-image: url(/images/donation5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background: gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);;
    height: 100vh;
    /* box-shadow: 0 0 5px 2px #282a2d;
    line-height: 1.4;
      -moz-box-shadow: 10px 10px 50px rgb(59, 45, 45);
      -webkit-box-shadow: 10px 10px 50px rgb(42, 35, 35);
      box-shadow: 10px 10px 50px rgb(30, 25, 25);  */
      /* box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
}
/* background text section */
.text-section{
    padding: 175px 305px;
    text-align: center;
}
 .header-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
} 

.header-description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
/* header button */
.primary-buttom{
    background-color: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
}
/* Donate data section */
.donate-text{
    text-align: center;
    margin-top: 130px;
}
.donate-head{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.donate-paragraph{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}